<head>
	<title>ADB Online Shopping</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="Y2JiM2I1YWUtMDljOS00NWE1LWJmODItMjU1MmRmOWUwNmU5NjM2OTAwOTM0MzAyMjY4MjM3"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
</head>

<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				
				<li class="menu_item has-children">
					<a href="#">
						Llogaria ime
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#" class="snipcart-user-email"><i class="fa fa-sign-in" aria-hidden="true"></i>Kyqu</a></li>
						<li><a href="#" class="snipcart-edit-profile"><i class="fa fa-user-plus" aria-hidden="true"></i>Ndrysho_Profilin</a></li>
						<li><a href="#" class="snipcart-user-logout"><i class="fa fa-sing-out" aria-hidden="true"></i>&Ccedil;kyqu</a></li>
					</ul>
				</li>
				<li class="menu_item"><a href="index.html">Ballina</a></li>
				<li class="menu_item"><a href="#ofertatt">Oferta</a></li>
				<li class="menu_item"><a href="teknologji.html">Teknologji</a></li>
				<li class="menu_item"><a href="oram.html">Ora</a></li>
				<li class="menu_item"><a href="qanta.html">&Ccedil;anta</a></li>
				<li class="menu_item"><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</div>
	</div>

	<!-- Slider -->

	<div class="main_slider" style="background-image:url(images/aa.jpg)">
		<span style="height: 500px; width:500px; position: absolute; margin: 7% 3% 0 60%; opacity: 0.9; "><img src="images/74993.jpg" style="border-radius:10px;"></span>
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h4>Vera 2019</h4>
						<h1>P&euml;rfito zbritje deri n&euml; 35%</h1>
						<div class="red_button shop_now_button"><a href="#">Bli Tani</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- New Arrivals -->

	<div class="new_arrivals" id="ofertatt">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2 >Ofertat dhe prurjet e reja</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting">
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".teknologji">Teknologji</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".ora">Ora</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".qanta">&Ccedil;anta</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>


				
                 {{#each results}}
				<div class="product-item {{this.Kategoria}}">
					<div class="product discount product_filter">
						<div class="product_image">			
						<img src="{{this.Fotografia}}" alt="">
						</div>
					<div class="favorite favorite_left"></div>					
						<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Risi</span></div>
						<div class="product_info">
							<h6 class="product_name"><a href="single{{this.ProduktId}}">{{this.Emri}}</a></h6>
							<div class="product_price">&euro;{{this.Cmimi}}</div>
						</div>
					</div>
					<div class="red_button add_to_cart_button"><a href="#" class="snipcart-add-item" 
						data-item-id="{{ProduktId}}"
						data-item-name="{{Emri}}"
						data-item-price="{{Cmimi}}"
						data-item-max-quantity="5"
						data-item-quantity-step="1"
						data-item-weight="{{Pesha}}"
						data-item-url="/api/produktet/{{ProduktId}}"
						data-item-image="{{Fotografia}}"
						data-item-description="{{Pershkrimi}}"
						>Shto n&euml; kart&euml;</a></div>
				</div>
			
						{{/each}}
		</div>
		

	