<head>
<title>Produkti</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="Y2JiM2I1YWUtMDljOS00NWE1LWJmODItMjU1MmRmOWUwNmU5NjM2OTAwOTM0MzAyMjY4MjM3"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="styles/single_responsive.css">

<script
  type="text/javascript"
  id="snipcart"
  src="https://cdn.snipcart.com/scripts/2.0/snipcart.js"
  data-api-key="{API_KEY}"
  data-autopop="false"></script>
</head>

<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				
				<li class="menu_item has-children">
					<a href="#">
						Llogaria ime
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#" class="snipcart-user-email"><i class="fa fa-sign-in" aria-hidden="true"></i>Kyqu</a></li>
						<li><a href="#" class="snipcart-edit-profile"><i class="fa fa-user-plus" aria-hidden="true"></i>Ndrysho_Profilin</a></li>
						<li><a href="#" class="snipcart-user-logout"><i class="fa fa-sing-out" aria-hidden="true"></i>&Ccedil;kyqu</a></li>
					</ul>
				</li>
				<li class="menu_item"><a href="index.html">Ballina</a></li>
				<li class="menu_item"><a href="#ofertatt">Oferta</a></li>
				<li class="menu_item"><a href="teknologji.html">Teknologji</a></li>
				<li class="menu_item"><a href="oram.html">Ora</a></li>
				<li class="menu_item"><a href="qanta.html">&Ccedil;anta</a></li>
				<li class="menu_item"><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</div>
	</div>
	
	<div class="container single_product_container">
		<div class="row">
			<div class="col">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="index.html">Ballina</a></li>
						<li><a href="teknologji.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Teknologji</a></li>
						<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Produkti</a></li>
					</ul>
				</div>

			</div>
		</div>
{{#each results1}}


		<div class="row">
			<div class="col-lg-7">
				<div class="single_product_pics">
					<div class="row">
						<div class="col-lg-3 thumbnails_col order-lg-1 order-2">
							<div class="single_product_thumbnails">
								<ul>
									<li><img src="{{this.foto1}}" alt="" data-image="{{this.foto1}}"></li>
									<li class="active"><img src="{{this.foto2}}" alt="" data-image="{{this.foto2}}"></li>
									<li><img src="{{this.foto3}}" alt="" data-image="{{this.foto3}}"></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-9 image_col order-lg-2 order-1">
							<div class="single_product_image">
								<div class="single_product_image_background" style="background-image:url({{this.foto1}})"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<div class="col-lg-5">
				<div class="product_details">
					<div class="product_details_title">
						{{#each results2}}<h2>{{this.Pershkrimi}}</h2>{{/each}}
						{{#each results1}}<p>{{this.pershkrimiShkurt}}</p>{{/each}}
					</div>
					<div class="free_delivery d-flex flex-row align-items-center justify-content-center">
						<span class="ti-truck"></span><span>Transporti falas</span>
					</div>					
					{{#each results2}}<div class="product_price">&euro;{{this.Cmimi}}</div>
					<ul class="star_rating">
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star" aria-hidden="true"></i></li>
						<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
					</ul>
					
					<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
						<span>Sasia:</span>
						<div class="quantity_selector">
							<span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
							<span id="quantity_value">1</span>
							<span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
						</div>
						<div class="red_button add_to_cart_button"><a href="#" class="snipcart-add-item" 
							data-item-id="{{ProduktId}}"
							data-item-name="{{Emri}}"
							data-item-price="{{Cmimi}}"
							data-item-max-quantity="3"
							data-item-quantity-step="1"
							data-item-weight="{{Pesha}}"
							data-item-url="https://adbonlineshopping.herokuapp.com/single{{ProduktId}}"
							data-item-image="{{Fotografia}}"
							data-item-description="{{Pershkrimi}}">Shto n&euml; kart&euml;</a></div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>

	</div>



	<!-- Tabs -->

	<div class="tabs_section_container">

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="tabs_container">
						<ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
							<li class="tab active" data-active-tab="tab_1"><span>P&euml;rshkrimi</span></li>
							<li class="tab" data-active-tab="tab_2"><span>Informacione Shtes&euml;</span></li>
							<li class="tab" data-active-tab="tab_3"><span>Komente (2)</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<!-- Tab Description -->

					<div id="tab_1" class="tab_container active">
						<div class="row">
							<div class="col-lg-5 desc_col">
								<div class="tab_title">
									<h4>P&euml;rshkrimi</h4>
								</div>
								<div class="tab_text_block">
									{{#each results2}}<h2>{{this.Emri}}</h2>{{/each}}
								{{#each results1}}<p>{{this.pershkrimiDetajuar}}</p>
								</div>{{/each}}
								<div class="tab_image">
								{{#each results1}}	<img src="{{this.foto4}}" alt="">
								</div> {{/each}}<!--
								<div class="tab_text_block">
									<h2>Wifi mbush&euml;si i telefonit p&euml;r vetur&euml;</h2>
									<p>Si&ccedil; shihet n&euml; foton e fundit, n&euml; momentin q&euml; vendoset gishti n&euml; pjes&euml;n e prapme te sensorit ai i hap krah&euml;t dhe e l&euml;shon telefonin.</p>
								</div>
							</div>
							<div class="col-lg-5 offset-lg-2 desc_col">
								<div class="tab_image">
									<img src="images/74993.jpg" alt="">
								</div>
								<div class="tab_text_block">
									<h2>Wifi mbush&euml;si i telefonit p&euml;r vetur&euml;</h2>
									<p>Si&ccedil; shihet n&euml; foto, n&euml; momentin q&euml; sensori i mbush&euml;sit e detekton telefonin n&euml; m&euml;nyr&euml; automatike i hap krah&euml;t dhe pranon telefonin.</p>
								</div>
								<div class="tab_image desc_last">
									<img src="images/wcharger4.gif" alt="">
								</div>-->
							</div>
						</div>
					</div>

					<!-- Tab Additional Info -->

					<div id="tab_2" class="tab_container">
						<div class="row">
							<div class="col additional_info_col">
								<div class="tab_title additional_info_title">
									<h4>Informacione shtes&euml;</h4>
								</div>
								{{#each results1}}<p><span>{{this.informacioneShtese}}</span></p>{{/each}}
							</div>
						</div>
					</div>

					<!-- Tab Reviews -->

					<div id="tab_3" class="tab_container">
						<div class="row">

							<!-- User Reviews -->

							<div class="col-lg-6 reviews_col">
								<div class="tab_title reviews_title">
									<h4>Reviews (2)</h4>
								</div>

								<!-- User Review -->

								<div class="user_review_container d-flex flex-column flex-sm-row">
									<div class="user">
										<div class="user_pic"></div>
										<div class="user_rating">
											<ul class="star_rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
									</div>
									<div class="review">
										<div class="review_date">27 Mars 2019</div>
										<div class="user_name">Bardh Gashi</div>
										<p>Produkti &euml;sht&euml; shum&euml; kualitativ. Un&euml; jam duke vozitur pothuajse t&euml;r&euml; dit&euml;n dhe ky mbush&euml;s m&euml; ka ndihmuar shum&euml;.</p>
									</div>
								</div>

								<!-- User Review -->

								<div class="user_review_container d-flex flex-column flex-sm-row">
									<div class="user">
										<div class="user_pic"></div>
										<div class="user_rating">
											<ul class="star_rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
									</div>
									<div class="review">
										<div class="review_date">14 Prill 2019</div>
										<div class="user_name">Ahmet Berisha</div>
										<p>Produkt q&euml; ja vlen&euml; parat e dh&euml;na.</p>
									</div>
								</div>
							</div>

							<!-- Add Review -->

							<div class="col-lg-6 add_review_col">

								<div class="add_review">
									<form id="review_form" action="post">
										<div>
											<h1>Shto nj&euml; koment</h1>
											<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Emri" required="required" data-error="Name is required.">
											<input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Adresa Elektronike" required="required" data-error="Valid email is required.">
										</div>
										<div>
											<h1>Vler&euml;simi:</h1>
											<ul class="user_star_rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
											<textarea id="review_message" class="input_review" name="message"  placeholder="Komenti Juaj" rows="4" required data-error="Please, leave us a review."></textarea>
										</div>
										<div class="text-left text-sm-right">
											<button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Paraqit</button>
										</div>
									</form>
								</div>

							</div>

						
			